<div ng-controller="DebuggerCtrl">
	<button type="button" class="btn btn-primary" tooltip="Run" ng-click="run()">
		<i class="icon-play iconAwesome"></i>Run
	</button>  

	<form class="form-inline inline">
		<button type="submit" class="btn btn-primary" tooltip="Debug" ng-click="debug()">
			 <i class="icon-bug iconAwesome"></i>Debug
		</button>

		<input type="number" class="input-small" ng-model="$parent.numOfSteps" min="0" placeholder="Steps" tooltip="Input number of steps">

		<div class="btn-group">
			<button type="button" class="btn btn-primary" ng-model="$parent.direction" btn-radio="'fromStart'" tooltip="Steps from start">
				<i class="icon-arrow-down iconAwesome"></i>Start
			</button>
			<button type="button" class="btn btn-primary" ng-model="$parent.direction" btn-radio="'fromEnd'" tooltip="Steps from end">
				<i class="icon-arrow-up iconAwesome"></i>End
			</button>
		</div> 		         
	</form>        

	<button type="button" 
			class="btn btn-primary" 
			tooltip="Next step" 
			tooltip-trigger="" 
			ng-click="next()" ng-disabled="$parent.isNextDisabled"
		>
		<i class="icon-step-forward iconAwesome"></i>Next
	</button>

	<div>	  
	  <tabset>
	    <tab heading="grid" active="runState.active">
	    	<!-- GRID -->
			<div class="gridStyle" ng-grid="gridOptions"></div>
	    	
	    </tab>
	    <tab heading="sql" active="debugState.active">	
	    	<ui-ace 	    		
	    		class="debugger-editor"
		        code="getContent()"
		        ui-ace-options="getEditorOptions"
		        content-attr="id"		        
		        editor-id="debugResultViewer"
	      	>    
      		</ui-ace>      	      
	    </tab>
	  </tabset>

	</div>	
</div>