<!-- navigation bar -->
<div class="navbar app-navbar" bs-navbar>
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-th-list"></span>
        </a>
        <a href="#" class="brand">&nbsp;</a>

        <div class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li data-match-route="/studio"><a href="#/studio">Studio</a></li>              
          </ul>
          <ul class="nav pull-right">
            <li><button class="btn btn-primary" ng-click="loadExtentions()">Save Snippet</button></li>
            <li><button class="btn btn-primary" ng-click="saveCode()">Deploy</button></li>
          </ul>
        </div>

    </div>
  </div>
</div>