<p>This is the partial for view 1.</p>


<div class="controls">
    <select id="chartType" ng-model="chart.type">
        <option value="AreaChart">AreaChart</option>
        <option value="PieChart">PieChart</option>
        <option value="ColumnChart">ColumnChart</option>
        <option value="LineChart">LineChart</option>
        <option value="Table">Table</option>
        <option value="BarChart">BarChart</option>
        <option value="ComboChart">ComboChart</option>
    </select>

</div>
<div google-chart chart="chart" style="{{chart.cssStyle}}"/>
