<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }} 

</p>
<p>the 'editor': {{editor.mode}}</p>

<div class="controls">
    <select id="editorMode" ng-model="editor.mode">
        <option  selected='selected' value="sql">SQL</option>
        <option value="javascript">Java Script</option>
        <option value="vql">VQL</option>
    </select>
</div>

<p>{{editorMode}}</p>

<p>Get Value : {{getContent()}}</p>

<h2>Editor</h2>
<style type="text/css">

.ace_editor_wrapper { position : relative; height: 200px}
.ace_editor { top: 0; bottom: 0; right: 0; left: 0; height: 500px;}
</style>
<!-- <div ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'html'
}" scope-instance="foo">
SELECT VERIX column_name,column_name
FROM table_name;
</div> -->
<!-- <div ng-controller="AceCtrl"> -->
  <!-- <div ui-ace scope-instance="foo" ng-model="aceModel" ></div> -->
<!-- </div> -->



<button class="btn" ng-click="save()">Save</button>