
<div class="row-fluid">

  <div class="span2">
    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
     <div
        class="span2"
        id="vql-tree"
        data-angular-treeview="true"
        data-tree-model="treedata"
        data-node-id="id"
        data-node-label="label"
        data-node-children="children" >
    </div>  
  </div>

  <div class="span10 ui-editor">
      <ui-ace 
        code="getContent()"
        ui-ace-options="getEditorOptions"
        change="onEditorChange"
      >    
      </ui-ace>
  </div>

</div>