
<article ng-controller="StudioCtrl" class="row-fluid fluid-height" ui-divider resize-end="onResize">
  
  <!-- tree -->
  <section class="fluid-height span2 sidebar ui-layout-west" ng-controller="TreeCtrl">

    <!-- TREE VIEW -->
      <div class="tree-filter container">
        <input type="text" ng-model="treeFilter" placeholder="find vqls">
      </div>

     <div
        id="vql-tree"
        angular-treeview="true"
        tree-model="treedata"
        node-id="id"
        node-label="type"
        node-children="children"
        node-attrs="vqls" 
        node-filter="treeFilter">
    </div> 
  </section>

  
  <section ui-divider resize-end="onResize" class="fluid-height span10 ui-editor ui-layout-center ui-layout-container" ng-controller="EditorCtrl">

      <!-- EDITOR -->
      <ui-ace 
        code="getContent()"
        ui-ace-options="getEditorOptions"
        change="onEditorChange"
        content-attr="id"
        extensions="getExtensions"
        editor-id="editor"
        class="ui-layout-center"
      >    
      </ui-ace>

      <div class="ui-layout-south" ng-include="'partials/debugger.html'" class="fluid-height" ></div>

  </section>
  

      
</article>
