
<div class="row-fluid">

  <div class="span5" ng-controller="TreeCtrl">
    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
    <div
      data-angular-treeview="true"
      data-tree-model="treedata"
      data-node-id="id"
      data-node-label="label"
      data-node-children="children" >
  </div>
    
  </div>

</div>

<!-- <button class="btn" ng-click="save()">Save</button> -->